<div fxLayout="column" class="wrapper" #wrapper>
    <div *ngFor="let item of pics; let i = index" class="photo" [ngStyle]="{'background-image' :'url(' + item.img + ')', 'background-position': 'center ' + (i*50 - t)  + 'vh' + '!important'}" fxLayout="row" fxLayoutAlign="start end" fxLayoutAlign.xs="center end">
        <div class="div" [ngStyle]="{'background-color': item.color}">
            <section fxLayoutAlign="center center" class="name">{{item.name}}</section>
        </div>
    </div>
</div>
